
body { background-color: #F2F6D0 }

.container-fluid {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#scraper {
  background-color: #F15B1C;
}

#deleteAll {
  background-color: #00000F;
}

#nprORG {
  background-color: #4C85C5;
}

/* #articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
} */

.container-fluid img {
  max-width: 300px;
}

/* #notes {
  float: right;
  width: 30%;
} */

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}