
body { 
  background-image: url( "https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-color: #F2F6D0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  width: 100%;
  text-align: center;
}

.container-fluid {
  /* text-align: center; */
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#instAndButttons{
  width: 100%;
  text-align: center;
}

#articles {
  background-color: rgba(0, 0, 15, 0.489);
  padding: 20px;
  margin: 5px;
}

.media-body h5 a {
  color: white;
}

.media {
  padding: 10px;
  color: white;
}

#articles h6 {
  color: white;
}

#scraper {
  background-color: #F15B1C;
}

#deleteAll {
  background-color: #00000F;
}

#nprORG {
  background-color: #4C85C5;
}

/* #articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
} */

.container-fluid img {
  max-width: 300px;
}

/* #notes {
  float: right;
  width: 30%;
} */

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}